<!DOCTYPE html>
<html>
  <head>
    <title>OutrightShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <style>
      nav > div > a {
          color: #000000;
          text-decoration: none;
      }

      .navbar-light .navbar-brand {
          color: rgba(0, 0, 0, .9);
          margin-left: 10px;
      }
    </style>
  </head>

  <nav class="nav">
  </nav>

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="http://0.0.0.0:3000/">
      Outrighshop
    </a>
    <div>
      <% if current_user != nil and User.find(current_user.id).role == 'manager' %>
        <%= link_to 'Manager page', '/pages/manager/' %>
      <% end %>
    </div>
    <div>
      <% if current_user != nil and (User.find(current_user.id).role == 'manager' or User.find(current_user.id).role == 'user') %>
        <%= link_to 'Your requests', '/pages/operator/' %>
      <% end %>
    </div>
    <div>
      <% if current_user != nil and User.find(current_user.id).role == 'operator' %>
        <%= link_to 'Operator page', '/pages/operator/' %>
      <% end %>
    </div>
    <div style="margin-right: 10px">
      <% if user_signed_in? %>
        <span>YO, <%= current_user.email %></span>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
      <% end %>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
